<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Progress Bars</title>
		<!-- build:css(.tmp) /resources/styles/poc.vendor.css -->
	    	<link rel="stylesheet" href="/resources/css/poc.vendor.css">
	    <!-- endbuild -->
	    <!-- build:css(.tmp) /resources/styles/poc.main.css -->
	    	<link rel="stylesheet" href="/resources/css/poc.main.css">
	    <!-- endbuild -->
	</head>
	<body>
